@import "tailwindcss";

@theme {
  --color-brand-dark: #061d14;
  --color-brand-lime: #a3ff00;
  --color-brand-accent: #1b5e43;
  --color-brand-surface: #0a2e1f;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}
